In [9]:
# The overlords of marathon planning committees have petitioned a group of DSI students to help with their decision to plan future sites for marathons. The the marathon super-pac believes that people who engage with events are drawn to the challenege aspects of the event as a core value (harder marathons == better value). However, a small contingency within the ranks of the marathon super-pac believe that the spirit of events supercedes the element of difficulty because of the phenomena of spectatorship.

# Goals
# Suggest qualities of high performing events
# Engineer new features / metrics to evaluate
# The goal of the committee is to use these metrics to decide future sites for events
# Settle the dispute within the committee about the value of challenege vs popularity
# Which is most important?
# Are they valuable for different reasons?
# Presentation requirements:
# %75 of presentation must address a non-technical audience
# Someone who hasn't presented yet must take lead on presentation


import pandas as pd
import numpy as np

df = pd.read_csv("/Users/tlee010/desktop/DSI-SF-2-timdavidlee/datasets/marathons/Winners.csv")

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 290 entries, 0 to 289
Data columns (total 10 columns):
Winner                                 290 non-null object
Country                                290 non-null object
Category                               290 non-null object
Marathons                              290 non-null object
Wikipedia Page                         230 non-null object
Image                                  103 non-null object
Description                            230 non-null object
Date of birth                          228 non-null float64
Year of first major marathon win       230 non-null float64
Age of first major marathon victory    228 non-null float64
dtypes: float64(3), object(7)
memory usage: 22.7+ KB

In [11]:
df.describe()

,Date of birth,Year of first major marathon win,Age of first major marathon victory
count,228.000000,230.000000,228.000000
mean,1956.881579,1984.347826,28.223684
std,26.311067,27.996270,4.199639
min,1874.000000,1897.000000,19.000000
25%,NaN,NaN,NaN
50%,NaN,NaN,NaN
75%,NaN,NaN,NaN
max,1990.000000,2014.000000,44.000000

In [12]:
df.head(3)

,Winner,Country,Category,Marathons,Wikipedia Page,Image,Description,Date of birth,Year of first major marathon win,Age of first major marathon victory
0,Beth Bonner,United States,Female Winner,New York City 1971,http://en.wikipedia.org/wiki/Beth_Bonner,NaN,"Beth Bonner (Elizabeth Bonner; June 9, 1952 - ...",1952.0,1971.0,19.0
1,Hitomi Niiya,Japan,Female Winner,Tokyo 2007,http://en.wikipedia.org/wiki/Hitomi_Niiya,//upload.wikimedia.org/wikipedia/commons/thumb...,"Hitomi Niiya(新谷 仁美,Niiya Hitomi?, born 26 Febr...",1988.0,2007.0,19.0
2,Ham Kee-Yong,South Korea,Male Winner,Boston 1950,http://en.wikipedia.org/wiki/Ham_Kee-Yong,NaN,"Ham Kee-yong (born November 14, 1930) is a for...",1930.0,1950.0,20.0

In [40]:
df.shape
df.dropna(inplace=True)

df.isnull().sum()

Winner                                 0
Country                                0
Category                               0
Marathons                              0
Wikipedia Page                         0
Image                                  0
Description                            0
Date of birth                          0
Year of first major marathon win       0
Age of first major marathon victory    0
dtype: int64

In [27]:
df.Marathons.value_counts()

df.Category.value_counts()

Male Winner      184
Female Winner    106
Name: Category, dtype: int64

In [35]:
df_clean = df[['Winner','Country','Marathons', 'Date of birth','Year of first major marathon win', 'Age of first major marathon victory']]

In [55]:
df_clean.loc['marathon-city'] = df_clean['Marathons'].map(lambda val: ' '.join(str(val).split(' ')[:-1]))

In [56]:
df_clean.head()

,Winner,Country,Marathons,Date of birth,Year of first major marathon win,Age of first major marathon victory,marathon-city
0,Beth Bonner,United States,New York City 1971,1952.0,1971.0,19.0,"[New, York, City]"
1,Hitomi Niiya,Japan,Tokyo 2007,1988.0,2007.0,19.0,[Tokyo]
2,Ham Kee-Yong,South Korea,Boston 1950,1930.0,1950.0,20.0,[Boston]
3,Kim Merritt,United States,"Boston 1976, New York City 1975",1955.0,1975.0,20.0,"[Boston, 1976,, New, York, City]"
4,Shigeki Tanaka,Japan,Boston 1951,1931.0,1951.0,20.0,[Boston]

In [110]:
df_clean = df[['Winner','Country','Marathons', 'Date of birth','Year of first major marathon win', 'Age of first major marathon victory']]
df_clean.loc['marathon-city'] = df_clean['Marathons'].map(lambda val: ' '.join(str(val).split(' ')[:-1]))

#df_clean.loc[:,'Marathons'].dropna(axis = 0,inplace=True)
rawunique = list(df_clean.loc[:,'Marathons'].unique())
true_unique = {} 
for x in rawunique:
    for y in str(x).split(','):
        true_unique[y.strip()] = 0


for x in true_unique.keys():
    true_unique[x] = x.replace(' ','_')

from pprint import pprint
#pprint(true_unique)

for xx in true_unique.values():
    df_clean[xx] = 0
    
def unpack(x):
    local_list = []
    local_list = [y.strip() for y in str(x['Marathons']).split(',')]
    for z in local_list:
        x[true_unique[z]] = 1
    return x
    
df_clean = df_clean.apply(unpack, axis=1)
df_clean.head()

/Users/tlee010/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
/Users/tlee010/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

TypeError: melt() got an unexpected keyword argument 'value'

In [113]:
df_clean.columns
df_long = pd.melt(df_clean, id_vars = ['Winner','Country','Marathons', 'Date of birth','Year of first major marathon win', 'Age of first major marathon victory'], value_vars = true_unique.values() )

In [115]:
df_long.head()
df_long_clean = df_long[df_long['value']!=0]

In [116]:
df_long_clean.head()

,Winner,Country,Marathons,Date of birth,Year of first major marathon win,Age of first major marathon victory,variable,value
38,Khalid Khannouchi,"Morocco, United States","Chicago 2000, Chicago 1999, Chicago 1997, Chic...",1971.0,1997.0,26.0,Chicago_1999,1
45,Joyce Chepchumba,Kenya,"Chicago 1999, Chicago 1998, London 1999, Londo...",1970.0,1997.0,27.0,Chicago_1999,1
116,Dire Tune,Ethiopia,Boston 2008,1985.0,2008.0,23.0,Boston_2008,1
135,Robert Kipkoech Cheruiyot,Kenya,"Chicago 2006, Boston 2008, Boston 2007, Boston...",1978.0,2003.0,25.0,Boston_2008,1
266,Deriba Merga,Ethiopia,Boston 2009,1980.0,2009.0,29.0,Boston_2009,1