In [10]:
path = "/Users/tlee010/desktop/data-science-datasets/warcraft-avatar-history/wowah_data.csv"
path2 = "/Users/tlee010/desktop/data-science-datasets/warcraft-avatar-history/locations.csv"
path3 = "/Users/tlee010/desktop/data-science-datasets/warcraft-avatar-history/location_coords.csv"
path4 = "/Users/tlee010/desktop/data-science-datasets/warcraft-avatar-history/zones.csv"

import pandas as pd
import numpy as np

In [49]:
wow = pd.read_csv(path)

In [12]:
locations = pd.read_csv(path2)

In [13]:
lc = pd.read_csv(path3)

In [15]:
zones = pd.read_csv(path4)

In [47]:
print wow.info()
wow.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10826734 entries, 0 to 10826733
Data columns (total 7 columns):
char          int64
 level        int64
 race         object
 charclass    object
 zone         object
 guild        int64
 timestamp    object
dtypes: int64(3), object(4)
memory usage: 578.2+ MB
None

,char,level,race,charclass,zone,guild,timestamp
0,59425,1,Orc,Rogue,Orgrimmar,165,01/01/08 00:02:04
1,65494,9,Orc,Hunter,Durotar,-1,01/01/08 00:02:04
2,65325,14,Orc,Warrior,Ghostlands,-1,01/01/08 00:02:04
3,65490,18,Orc,Hunter,Ghostlands,-1,01/01/08 00:02:04
4,2288,60,Orc,Hunter,Hellfire Peninsula,-1,01/01/08 00:02:09

In [81]:
# wow['month'] = wow[' timestamp'].map(lambda x : x[0:2])
# wow['day'] = wow[' timestamp'].map(lambda x : x[3:5])
# wow['year'] = wow[' timestamp'].map(lambda x : '20'+ x[6:8])
# wow.head()

In [80]:
#from datetime import datetime
#wow['parsed_date'] = wow.apply(lambda x : datetime.date(x['year'],x['month'],x['day']),axis = 1)

In [17]:
lc.head()

,Location_Name,Map_ID,X_coord,Y_coord,Z_coord
0,Eastern Kingdom: Ironforge Airport,0.0,-4488.993311,-1580.19104,509.005066
1,Eastern Kingdom: Wetlands Mountain Camp,0.0,-3855.000000,-3479.00000,579.000000
2,Eastern Kingdom: Dun Morogh plane camp,0.0,-6161.000000,-786.00000,423.000000
3,Eastern Kingdom: Undercity,0.0,1831.260000,238.53000,60.520000
4,Eastern Kingdom: Stormwind City,0.0,-8913.230000,554.63300,93.794400

In [31]:
print wow.info()
wow.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10826734 entries, 0 to 10826733
Data columns (total 7 columns):
char          int64
 level        int64
 race         object
 charclass    object
 zone         object
 guild        int64
 timestamp    object
dtypes: int64(3), object(4)
memory usage: 578.2+ MB
None

,char,level,race,charclass,zone,guild,timestamp
0,59425,1,Orc,Rogue,Orgrimmar,165,01/01/08 00:02:04
1,65494,9,Orc,Hunter,Durotar,-1,01/01/08 00:02:04
2,65325,14,Orc,Warrior,Ghostlands,-1,01/01/08 00:02:04
3,65490,18,Orc,Hunter,Ghostlands,-1,01/01/08 00:02:04
4,2288,60,Orc,Hunter,Hellfire Peninsula,-1,01/01/08 00:02:09

In [75]:
wow["calender"] = [x.split(" ")[0] for x in wow[' timestamp']]

In [79]:
wow['parsed_date'] = [datetime.strptime(x,"%m/%d/%y").date() for x in wow.calender]

In [113]:
char_de = wow.groupby(['char',' race',' charclass'])[['char',' race',' charclass']].count()
char_de.reset_index(inplace=True)
char_desc = char_de['char','race','charclass']
char_desc.head()

ValueError: cannot insert  charclass, already exists

In [103]:
char_max = wow.groupby(["char"])[['parsed_date']].max()
char_max.reset_index(inplace=True)
char_max.columns = ['char','max_date']
char_max.head()

   char    max_date
0     2  2008-12-03
1     7  2008-12-28
2     9  2008-06-29
3    10  2008-11-07
4    19  2008-12-29

In [104]:
char_min = wow.groupby(["char"])[['parsed_date']].min()
char_min.reset_index(inplace=True)
char_min.columns = ['char','min_date']
char_min.head()

   char    min_date
0     2  2008-12-03
1     7  2008-01-15
2     9  2008-01-01
3    10  2008-07-06
4    19  2008-01-07

In [105]:
char_maxlvl = wow.groupby(["char"])[[' level']].max()
char_maxlvl.reset_index(inplace=True)
char_maxlvl.head()

   char   level
0     2      18
1     7      71
2     9      70
3    10      61
4    19      70

AttributeError: Cannot access callable attribute 'copy' of 'DataFrameGroupBy' objects, try using the 'apply' method