In [2]:
import pandas as pd
import numpy as np
import cPickle as pickle

with open('jobposting_summary_df.p','rb') as f:
    jHead = pickle.load(f)

with open('job_details.p','rb') as f:
    jbody = pickle.load(f)
jbody.head()

,company,jobdesc,jobkey,location,snip,title,url
0,Kabbage,----------------------------------------------...,e55e9eb2ee168041,"Atlanta, GA",\n--------------------------------------------...,Data Engineer,http://www.indeed.com/viewjob?jk=e55e9eb2ee168...
1,Georgia Highlands College,Incumbent will manage the day-to-day financial...,6723728b59b8489b,Georgia,\nIncumbent will manage the day-to-day financi...,Auxiliary Business Analyst,http://www.indeed.com/viewjob?jk=6723728b59b84...
2,Xerox,Xerox is the world's leading enterprise for bu...,b4319c398f15403a,Georgia,\nXerox is the world's leading enterprise for ...,Client Technical Solutions Architect - Remote,http://www.indeed.com/viewjob?jk=b4319c398f154...
3,Wellstar Health System,Join the team named one of the Top 100 Compani...,d53c17499aa0ae39,"Atlanta, GA",\nJoin the team named one of the Top 100 Compa...,Business Analyst,http://www.indeed.com/viewjob?jk=d53c17499aa0a...
4,McKenney's Inc.,The Business Analyst works with stakeholders f...,aff5573e39ff9477,"Atlanta, GA",\nThe Business Analyst works with stakeholders...,Business Analyst,http://www.indeed.com/viewjob?jk=aff5573e39ff9...

In [2]:
jHead.head()

,city,company,date,filename,formattedLocation,formattedLocationFull,jobkey,jobtitle,latitude,longitude,source,state
0,Oak Lawn,Advocate Health Care,"Wed, 14 Sep 2016 13:15:06 GMT",CHI_jobdata.json,"Oak Lawn, IL","Oak Lawn, IL 60453",6244f7f3a48616a1,Clinical Practice Specialist - 4 Hope,41.719692,-87.74613,Advocate Health Care,IL
1,Seattle,University of Washington Medical Center,"Tue, 30 Aug 2016 20:20:18 GMT",SEA_jobdata.json,"Seattle, WA","Seattle, WA",3d6a9f18f530167d,WEB DEVELOPER,47.604397,-122.32967,University of Washington Medical Center,WA
2,New York,Macy's,"Wed, 07 Sep 2016 07:58:31 GMT",NYC_jobdata.json,"New York, NY","New York, NY",d94a7d13dfbb05fb,"Analyst, Marketing Analytics",40.711540,-74.00549,Macy's,NY
3,Mountain View,Skyport Systems,"Sat, 10 Sep 2016 23:17:04 GMT",SJC_jobdata.json,"Mountain View, CA","Mountain View, CA 94041",c97751deb9e8904e,Data Engineer,37.393486,-122.07886,Skyport Systems,CA
4,Oak Brook,Command Alkon,"Mon, 05 Sep 2016 05:54:23 GMT",CHI_jobdata.json,"Oak Brook, IL","Oak Brook, IL",fe4ef48c8fd03633,Application Implementation Specialist,41.832417,-87.92857,Command Alkon,IL

In [3]:
jHead [jHead.jobkey=='322d0fb816d6f15e']

,city,company,date,filename,formattedLocation,formattedLocationFull,jobkey,jobtitle,latitude,longitude,source,state
2240,New York,Razorfish,"Tue, 23 Aug 2016 14:41:41 GMT",NYC_jobdata.json,"New York, NY","New York, NY",322d0fb816d6f15e,Web Intelligence Analyst,40.71154,-74.00549,Razorfish,NY

In [3]:
#dupe check
temp = jHead.groupby(['jobkey','filename'])[['city']].agg('count')
temp.reset_index(inplace=True)
temp2 = temp.groupby(['filename','city'])[['filename','city']].size()
print temp2

filename          city
BOS_jobdata.json  1       1025
CHI_jobdata.json  1       1025
LAC_jobdata.json  1       1024
LON_jobdata.json  1       1010
MIN_jobdata.json  1       1024
NYC_jobdata.json  1       1022
PHI_jobdata.json  1       1023
SEA_jobdata.json  1       1025
SFC_jobdata.json  1        987
SJC_jobdata.json  1       1025
TOR_jobdata.json  1        805
WDC_jobdata.json  1       1025
_GA_jobdata.json  1       1024
_TX_jobdata.json  1       1024
_VA_jobdata.json  1        606
dtype: int64

In [4]:
v = jbody.to_dict()

In [5]:
v.keys()

['title', 'url', 'company', 'snip', 'location', 'jobkey', 'jobdesc']

In [7]:
v['jobkey'][0]

u'ed8fa2eedb783f45'

In [15]:
dedup= {}
for i in range(0,len(v['jobkey'])):
    dedup[v['jobkey'][i]] = {
        'jobkey': v['jobkey'][i]
        ,'url': v['url'][i]
        ,'jobdesc':  v['jobdesc'][i]
        ,'snip':v['snip'][i]
        ,'location':  v['location'][i]
        ,'title': v['title'][i]
        ,'company':v['company'][i]
    }

In [16]:
jbody_dedup = [x for x in dedup.values()]
jbody_dedup_df = pd.DataFrame(jbody_dedup)

In [17]:
print len(jbody_dedup_df.jobkey.unique())

14670

In [18]:
print jHead.shape, jbody_dedup_df.shape

(14674, 12) (14670, 7)

In [19]:
jHead[jHead.jobkey=='inf'].count()

city                     1
company                  1
date                     1
filename                 1
formattedLocation        1
formattedLocationFull    1
jobkey                   1
jobtitle                 1
latitude                 1
longitude                1
source                   1
state                    1
dtype: int64

In [20]:
jbody_dedup_df[jbody_dedup_df.jobkey==np.inf].count()

company     1
jobdesc     1
jobkey      1
location    1
snip        1
title       1
url         1
dtype: int64

In [21]:
# since i have fewer details will use that as the base and bring in the other information:b

In [22]:
jHead.head(2)

,city,company,date,filename,formattedLocation,formattedLocationFull,jobkey,jobtitle,latitude,longitude,source,state
0,Oak Lawn,Advocate Health Care,"Wed, 14 Sep 2016 13:15:06 GMT",CHI_jobdata.json,"Oak Lawn, IL","Oak Lawn, IL 60453",6244f7f3a48616a1,Clinical Practice Specialist - 4 Hope,41.719692,-87.74613,Advocate Health Care,IL
1,Seattle,University of Washington Medical Center,"Tue, 30 Aug 2016 20:20:18 GMT",SEA_jobdata.json,"Seattle, WA","Seattle, WA",3d6a9f18f530167d,WEB DEVELOPER,47.604397,-122.32967,University of Washington Medical Center,WA

In [23]:
jbody_dedup_df.head(2)

,company,jobdesc,jobkey,location,snip,title,url
0,Advocate Health Care,"As part of Advocate Health Care, Advocate Chil...",6244f7f3a48616a1,"Oak Lawn, IL 60453","\nAs part of Advocate Health Care, Advocate Ch...",Clinical Practice Specialist - 4 Hope,http://www.indeed.com/viewjob?jk=6244f7f3a4861...
1,University of Washington Medical Center,The University of Washington (UW) is proud to ...,3d6a9f18f530167d,"Seattle, WA",\nThe University of Washington (UW) is proud t...,WEB DEVELOPER,http://www.indeed.com/viewjob?jk=3d6a9f18f5301...

In [24]:
master_df = jbody_dedup_df[jbody_dedup_df.jobkey!=np.inf].merge(jHead[jHead.jobkey!='inf'], on='jobkey', how='left')

In [25]:
master_df.shape

(14669, 18)

In [53]:
master_df[master_df['company_y'].isnull()]

,company_x,jobdesc,jobkey,location,snip,title,url,city,company_y,date,filename,formattedLocation,formattedLocationFull,jobtitle,latitude,longitude,source,state
5233,"Block and Company, Inc.",,6.01217e+33,"Wheeling, IL","\nBlock and Company, Inc. is a leading multich...",Email Marketing Specialist,http://www.indeed.com/viewjob?jk=6012172889705...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6626,Trianz,-\n5-7 years of consulting or similar experien...,5884272998038088,"Boston, MA",\nRequired experience: -\n\n5-7 years of consu...,Business Analyst,http://www.indeed.com/viewjob?jk=5884272998038...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7896,conspicuous,,5084101572183415,"Toronto, ON",\nThe Role: A leading Microsoft Dynamics Gold ...,"Junior ERP Business Analyst – Toronto, ON",http://ca.indeed.com/viewjob?jk=50841015721834...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9089,Pan Asia,,2481987493495257,"Allendale, NJ",\nJob Description: New MiddleWare Business An...,New MiddleWare Business Analyst,http://www.indeed.com/viewjob?jk=2481987493495...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10784,Data Works,Data Works is looking for senior Big Data Engi...,8993979568315966,"Reston, VA",\nData Works is looking for senior Big Data En...,Big Data Engineer,http://www.indeed.com/viewjob?jk=8993979568315...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11767,WORLDPAC,,3195000121550682,"Newark, CA",\nThe UC Engineer is responsible for the opera...,Unified Communications Engineer,http://www.indeed.com/viewjob?jk=3195000121550...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12513,Guy Carpenter,Contract Associate\n-\nEDI0005R\nDescription\n...,5948848907546052,"Edina, MN",\nContract Associate\n-\nEDI0005R\n\nDescripti...,Contract Associate,http://www.indeed.com/viewjob?jk=5948848907546...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12753,Astral Health & Beauty,,17281630960878,"Atlanta, GA",\nAstral Health & Beauty is an innovator in th...,Ecommerce Digital & Marketing Specialist,http://www.indeed.com/viewjob?jk=0017281630960...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13125,State Street,"About State Street\nAcross the globe, institut...",2742582900323084,"Boston, MA","\nAbout State Street\n\nAcross the globe, inst...",Portfolio Specialist -Equities,http://www.indeed.com/viewjob?jk=2742582900323...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13270,Deloitte,"At Deloitte Consulting LLP, helping our client...",6991681484190770,"Minneapolis, MN","\nAt Deloitte Consulting LLP, helping our clie...",HR Transformation Employee Referral Campaign F...,http://www.indeed.com/viewjob?jk=6991681484190...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
jHead[jHead['jobkey']=='03ab8fd730c2e0a5']

Empty DataFrame
Columns: [city, company, date, filename, formattedLocation, formattedLocationFull, jobkey, jobtitle, latitude, longitude, source, state]
Index: []

In [27]:
with open('indeed_job_detail_master_16k_df.p','wb') as f:
    pickle.dump(master_df,f)

In [58]:
i = 9
test = master_df['snip'][i]
print master_df['url'][i]
print master_df['title'][i]
print master_df['jobdesc'][i]

http://www.indeed.com/viewjob?jk=222233bf7b940b4f&qd=I0TxM_wMPz_iqziD0cGR0PxLjuFXC0PsEfAsModHF2st56MW-C4_aRZZ49ZIFQT7Q6T0dt0aQ-pjLjZ1rU0TrrgvjzJLVDraSv5jRUBSQRE4rzSPTGVAZrn57D8I7-iZPPOnyqkZAWHSsZVuWLMMyPwxeK6fJFjL0le83vQp00HgUvcqLw2Yfkg-C36rBsJOBhY_bP3Ixsr7pMljSGPGRPoAq9aFNY8A_UvSMfgxttJSH3smhTx7_FuMs-pHZOxcH0YQ5J6MSd4u8GRWXP5rf-e2cReDBdvPc-_kkqlFZegmMdnMtBzry4w2tqh-QSH4RKNaJo9szcnRIucfEFGh4yS3QsJXL-tCKe4x9bjt7-Y&indpubnum=2313019136084570&atk=1at2p03a4b9rq8no
Senior Application Developer
Position Overview
Reporting to the Director of Technology, the Senior Application Developer will:

DataArts is an equal opportunity employer with a policy of inclusiveness and nondiscrimination, and is committed to providing a workplace that is free of discrimination of all types, and that is free from abusive, offensive or harassing behavior. DataArts also maintains a drug-free workplace. ADA/EOE


Please forward cover letter, resume, and online code portfolio to careers@culturaldata.org referencing "Senior Application Developer."

Salary: Commensurate with skills and experience, includes generous benefits package
Schedule: Monday - Friday

In [59]:
for x in test.split('\n'):
    if 'save job' in x:
        print test.index(x)

print '\n'.join([x for x in test.split('\n')[0:5143]])

2452

Position Overview
Reporting to the Director of Technology, the Senior Application Developer will:

Provide technical guidance and training to other application developer(s) and development contractors;
Develop, commit, test DataArts web-based application coded in AngularJS, PHP, and MySQL;
Adhere to and enforce version control system processes using Github;
Manage application deployment strategy in dev, staging, and production using Ansible;
Utilize relevant trends and industry best practices in order to reduce maintenance burdens, ensure quality service and product, increase efficiency, and maintain a secure environment;
Collaborate with all development team members (Business Analyst, Data Administrator, Graphic Designer, Frontend Developer, etc.) and stakeholders (both internal and external) to understand business requirements and contribute creative ideas and enhancements to the platform;
Assist with project plan time estimates and ensure development milestones are met.
Qualifications
BS/MS in computer science, engineering, or related subject or equivalent work experience;
5+ years’ experience and solid expertise in PHP, MySQL, and version control systems (Git);
Demonstrable knowledge of frameworks currently in use at the organization (AngularJS, Laravel, Bootstrap), Linux, Apache, CSS, HTML;
Experience building and/or working heavily with REST APIs;
Passion for best design and coding practices and desire to develop creative, bold ideas;
Proven history working on long-term, full SDLC projects, particularly using Agile (SCRUM) methodologies;
Enthusiasm in the organization’s mission and for bettering and growing the arts & culture sector in the best way we can as a nonprofit;
Ability to produce clear, well-written documents for a range of audiences;
Excellent ability to set priorities, manage multiple competing projects on deadline, and organize time.
DataArts is an equal opportunity employer with a policy of inclusiveness and nondiscrimination, and is committed to providing a workplace that is free of discrimination of all types, and that is free from abusive, offensive or harassing behavior. DataArts also maintains a drug-free workplace. ADA/EOE


To Apply
Please forward cover letter, resume, and online code portfolio to careers@culturaldata.org referencing "Senior Application Developer."


Salary: Commensurate with skills and experience, includes generous benefits package

Schedule: Monday - Friday

17 days ago  - save job
 -
                original job









» Apply Now
Indeed will send your application to careers@culturaldata.org.
            Please review all application instructions before applying to Cultural Data Project.






Recommended Jobs

Front End User Experience Development-Technic...

Tata Elxsi limited -
		 Philadelphia, PA
Indeed -
		 14 days ago

 Easily apply
Wordpress Developer

Workbridge Associates -
		 Philadelphia, PA
20 days ago
Web Technologies Faculty, Full-Time

Community College of Philadelphia -
		 Philadelphia, PA
18 days ago
Web Application Developer

Symphony Health Solutions -
		 Conshohocken, PA
Indeed -
		 18 days ago

 Easily apply
MARKETING WEB DESIGNER AND DEVELOPER

Jewish Federation of Greater Philadelphia -
		 Philadelphia, PA
Krop.com -
		 19 days ago

In [51]:
print test

IQlogg, Inc. is an equal opportunity employer for M/F/V/D.The Business Analyst will be responsible for defining, analyzing and data mining the business requirements for the Ancillary team within Network Management. Responsible for various project initiatives that identify trends which impact various business areas within the Ancillary department and external departments in order to bridge the gaps that will contribute to operational efficiency. Upcoming projects can include providing the competitive landscape and other reporting to support our Commercial Insurance Plan and Urgent Care Centers.Responsibilities:Perform assessments and validations of system fee schedules, contracts, and provider setup and/or configuration.Responsible for researching, creating ad-hoc requests and conducts analysis that includes but not limited to claims, financial spend and utilization reports.Research, compile, verify, interpret, analyze and create dashboards; identify trends, and communicate results to Managers, Assistant Directors, and/or Directors.Monitor performance and trends of providers (financial spend, costs, claims) that impact the department, and maintain knowledge of trends that exist in the health care delivery system.Provide analysis of contract proposal; present financial impact of; and communicate any downstream operational impactRecommend changes in methods, procedures and policies to improve quality and consistency. Communicate effectively in written and verbal form. Create effective requirement documents and review them with key stakeholders at multiple levels of the Claims, Network Management, Provider Operations, and/or IT.Effectively manage projects by setting clear project milestones and deliverables; clearly communicating goals, objectives and responsibilities. Lead and/or participate in meetings to gather and specify departmental requirements for such projects.Develop applications and reports using Microsoft Access, Microsoft Excel, and pertinent databases.Qualifications: Minimum Qualifications:Demonstrated analytic work experience including: charting, data mining, managing projects and identifying trendsIntermediate knowledge of Microsoft Excel creating formulas (VLOOKUP, SUMIF, SUMPRODUCT, etc…), pivot tables and macrosStrong analytical skillsDemonstrated excellent problem solving and critical thinking skillsHigh School Diploma/ GEDJob Type: Full-time

25 days ago  - save job









» Apply Now

            Please review all application instructions before applying to IQlogg, Inc.